<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Voltar" defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Destaque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let information of detail">
    <img [src]='information.imagem' />
    <p>Crédito Foto: {{information.creditoFoto}}</p>
    <ion-card-header>
      <ion-card-title><strong>{{ information.titulo }}</strong></ion-card-title>
      <br/>
      <ion-card-subtitle>
        {{ information.subtitulo }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngIf="!information.update" text-center>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      {{ information.assinatura }} 
      <br/>
      Publicada em: {{information.dataString}}
      <ion-item lines="none" style="margin-top: 10px;">
        <div style="text-align: justify;" [innerHTML]="information.texto"></div>
        <!-- <p style="text-align: justify;">{{information.texto}}</p> -->
      </ion-item>
    </ion-card-content>
    <ion-card-content *ngIf="information.update" text-center>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      {{ information.assinatura }} 
      <br/>
      Atualizado em: {{information.atualizacaoString}}
      <ion-item lines="none" style="margin-top: 10px;">
        <div style="text-align: justify;" [innerHTML]="information.texto"></div>
        <!-- <p style="text-align: justify;" >{{information.texto}}</p> -->
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
