<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper" style="color: red"></ion-icon>
      <ion-label style="color: red">Plantão</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="videocam" style="color: red"></ion-icon>
      <ion-label style="color: red">Vídeos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list" style="color: red"></ion-icon>
      <ion-label style="color: red">Tabela</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
