<ion-header>
  <ion-toolbar>
    <ion-title>
      Vídeos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher name="lines" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let video of videosGet">
    <ion-card-header>
        <img [src]='video.imagem'/>
    </ion-card-header>
    <ion-card-title style="text-align: center; padding: 5px;">
      {{ video.titulo }}
    </ion-card-title>      
    <a href="{{ video.link }}"><ion-button expand="full">
      Clique Aqui Para Assistir!
    </ion-button></a>
  </ion-card>
  <div *ngIf="!videosGet">
    <div style="text-align: center; margin-top: 50px;">
        <ion-spinner></ion-spinner>
      </div>
  </div>
</ion-content>
