<ion-header>
  <ion-toolbar>
    <ion-title>
      Plantão do Mengão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher name="lines" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Buscar Notícias" animated [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)">
  </ion-searchbar>

  <div *ngIf="!noticiasBuscadas || noticiasBuscadas?.length < 1">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Destaque</ion-label>
      </ion-list-header>
    </ion-list>
    <div *ngFor="let noticias of noticiasGet">
      <ion-card button *ngIf="noticias.principal" [routerLink]="['/', 'detalhes-noticias', noticias.idNoticia]">
        <img [src]='noticias.imagem' />
        <p>Crédito Foto: {{noticias.creditoFoto}}</p>
        <ion-card-header>
          <ion-card-title>{{noticias.titulo}}</ion-card-title>
          <br/>
          <ion-card-subtitle >{{noticias.subtitulo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{noticias.assinatura}}
        </ion-card-content>
      </ion-card>
    </div>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Notícias</ion-label>
      </ion-list-header>
    </ion-list>
    <ion-item button *ngFor="let noticias of noticiasGet" [routerLink]="['/', 'detalhes-noticias', noticias.idNoticia]">
      <ion-avatar slot="start">
        <img [src]='noticias.imagem'>
      </ion-avatar>
      <ion-label class="ion-text-wrap" >
        <h5><b>{{noticias.titulo}}</b></h5>
        <p>Crédito Foto: {{noticias.creditoFoto}}</p>
        <p>{{noticias.assinatura}}</p>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="noticiasBuscadas">
    <ion-item button *ngFor="let noticias of noticiasBuscadas"
      [routerLink]="['/', 'detalhes-noticias', noticias.idNoticia]">
      <ion-avatar slot="start">
        <img [src]='noticias.imagem'>
      </ion-avatar>
      <ion-label class="ion-text-wrap" >
        <h5><b>{{noticias.titulo}}</b></h5>
        <p>Crédito Foto: {{noticias.creditoFoto}}</p>
        <p>{{noticias.assinatura}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)" *ngIf="completo">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais notícias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="noticiasGetOld">
    <ion-item button *ngFor="let noticiasOld of noticiasGetOld" [routerLink]="['/', 'detalhes-noticias', noticiasOld.idNoticia]">
      <ion-avatar slot="start">
        <img [src]='noticiasOld.imagem'>
      </ion-avatar>
      <ion-label class="ion-text-wrap" >
        <h5><b>{{noticiasOld.titulo}}</b></h5>
        <p>Crédito Foto: {{noticiasOld.creditoFoto}}</p>
        <p>{{noticiasOld.assinatura}}</p>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="!noticiasGet" style="text-align: center; margin-top: 40px;">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>