<ion-header>
  <ion-toolbar>
    <ion-title>
      Jogos do Mengão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher name="lines" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let jogo of tabelaGet">
    <ion-card *ngIf="jogo.exibir">
      <ion-card-header>
        <ion-card-subtitle><img [src]='jogo.escudoCampeonato' width="7%"/> {{jogo.campeonato}} </ion-card-subtitle>
        <ion-card-title>{{jogo.dataString}} {{jogo.hora}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content *ngIf="!jogo.penalti">
        <p style="text-align: center;">{{jogo.time1}} <img [src]='jogo.escudo1' width="3%" style="margin-right: 10px;"/>{{jogo.resultado1}} X {{jogo.resultado2}}<img style="margin-left: 10px;" [src]='jogo.escudo2' width="3%"/> {{jogo.time2}}</p>
      </ion-card-content>
      <ion-card-content *ngIf="jogo.penalti">
        <p style="text-align: center;">{{jogo.time1}} <img [src]='jogo.escudo1' width="3%" style="margin-right: 10px;"/>{{jogo.resultado1}} ({{jogo.penalti1}}) X ({{jogo.penalti2}}) {{jogo.resultado2}}<img style="margin-left: 10px;" [src]='jogo.escudo2' width="3%"/> {{jogo.time2}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!tabelaGet" style="text-align: center; margin-top: 40px;">
    <ion-spinner></ion-spinner>
  </div>
  <p *ngIf="!tabelaGet || tabelaGet?.length < 1" style="text-align: center; margin-top: 40px;">Quando os jogos do Flamengo voltarem, a tabela será atualizada.</p>
    

  
</ion-content>